<div class="container my-5">
  <div class="row">
    <div class="col-md-12 text-center my-5">
      <h4><b>本当に退会しますか?</b></h4>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
      <h5>退会すると、会員登録情報や</h5>
      <h5>これまでの購入履歴が閲覧できなくなります。</h5>
      <h5>退会する場合は、「退会する」をクリックしてください。</h5>
    </div>
  </div>

  <div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-2 text-right">
        <%= link_to "退会しない" , public_customer_path(current_customer.id), class: "btn btn-primary btn-sm  btn-block" %>
    </div>
    <div class="col-md-5">
      <div class="col-md-5 text-left">
        <%= link_to "退会する" , withdraw_public_customer_path(@customer.id), method: :patch, class: "btn btn-danger btn-sm btn-block" %>
      </div>
    </div>
  </div>
</div>
