<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 style="margin: 30px 0; font-size: 70px;">About</h1>
      <div>
        <p style="font-size: 20px;">ながの<strong>CAKE</strong>は全国発送可能なケーキ屋さんです。</br>
            お子様からお年寄りの方までお召し上がりいただけるよう、</br>
            様々なバリエーションをご用意しております。</br>
            また、全国へ発送可能ですので「いつ」でも「どこ」でも注文いただけます。</br>
            ぜひご注文ください。
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 text-center">
      <div><%= image_tag "about.jpg", alt: 'イメージ画像です', size: '400x200' %></div>
    </div>
  </div>
</div>
