<div class="comtainer">
  <div class="row" style="margin: 200px 0;">
    <div class="col-md-1"></div>
    <div class="ojisan col-md-6 text-center">
      <strong><h3>ご注文ありがとうございました！</h3></strong>
      <p style="margin: 20px 0;">
        パティシエが心を込めてお作りしておりますので<br>
        ご注文商品が到着するまで、今しばらくお待ちください。<br>
        人気商品に関しましては、ご到着日時が前後する可能性がございます。<br>
        あらかじめご了承ください。
      </p>
      <p style="margin: 20px 0;">
        <strong>スタッフ一同またのご利用を心よりお待ちしております。</strong>
      </p>
    </div>
    <div class="col-md-5 text-left">
      <%= image_tag 'holecake.jpg', size: '300x200' %>
    </div>
  </div>
</div>
