<div class="comtainer">
  <div class="row text-center" style="margin-top: 300px;">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">
      <strong><h1 style="background-color:#ffff88;">ご注文ありがとうございました!</h1></strong>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
